/* You can't use variables or Nested rules :( */
/* Define custom colors this approach workes, even tho everything is red */
@define-color bar #1a1b26;
@define-color barBorder #e2e2e3;
@define-color background #222;
@define-color border #4f4f4f;
@define-color text #c0caf5;
@define-color hover #808080;
@define-color active #808080;
@define-color urgent #ce7e00;
@define-color warning #ff0000;

/* Global styles */
* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    min-height: 15px;
    background: transparent;
}

tooltip {
    border: 1px solid @border;
    background-color: @background;
}

tooltip label {
    color: @text;
}

#waybar {
    background-color: @bar;
    opacity: 0.8;
    transition-property: background-color;
    transition-duration: 0.5s;
    border: 1px solid @barBorder;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 0px;

}

#custom-menu {
    margin: 2px 4px;
    border-radius: 6px;
    padding: 0px 12px 0px 8px;
    margin-left: 0px;
    font-size: 15px;
    color: @text;
    /* background: @background; */
    /* border: 1px solid @border; */
    background-image: url('/home/fruth/nixos/home/waybar/NixOS.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#workspaces {
    margin: 2px 4px;
    border-radius: 6px;
    padding: 1px;
    background: @background;
    border: 1px solid @border;
}

#workspaces button {
    min-width: 20px;
    box-shadow: none;
    margin: 2px 3px;
    text-shadow: none;
    border: none;
    border-radius: 3px;
    background: @background;
    color: @text;
    transition: all 0.1s linear;
}

#workspaces button.active {
    min-width: 28px;
    transition: all 0.1s linear;
    color: @text;
    background: @active;
}

#workspaces button:hover {
    background: @hover;
    border: none;
}

#workspaces button.urgent {
    background: @urgent;
}

#taskbar {
    margin: 2px 4px;
    padding: 0px;
    margin-left: 0px;
    background: transparent;
    border: none;
    font-size: 15px;
    font-weight: bolder;
}

#taskbar.empty {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#taskbar button {
    padding: 0px 3px;
    margin-right: 2px;
    border-radius: 6px;
    border: none;
}

#taskbar button:hover {
    background: @hover;
}

#taskbar button.active {
    background: @active;
}

#clock {
    margin: 2px 4px;
    padding: 0px 8px 0px 8px;
    border-radius: 6px;
    color: @text;
    background: @background;
    border: 1px solid @border;
}

#custom-weather {
    margin: 2px 4px;
    border-radius: 6px;
    padding: 0px 9px 0px 8px;
    color: @text;
    background: @background;
    border: 1px solid @border;
}

#memory {
    margin: 2px 4px;
    padding: 0px 8px 0px 8px;
    border-radius: 6px;
    color: @text;
    background: @background;
    border: 1px solid @border;
}

#pulseaudio,
#backlight,
#bluetooth,
#network,
#battery {
    border: 1px solid @border;
}

#pulseaudio {
    margin: 2px 0px 2px 4px;
    padding: 0px 8px 0px 8px;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    color: @text;
    background: @background;
}

#pulseaudio:hover {
    color: @hover;
}

#backlight {
    margin: 2px 0px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    padding: 0px 12px 0px 8px;
    color: @text;
    background: @background;
}

#backlight:hover {
    color: @hover;
}

#bluetooth {
    margin: 2px 0px;
    padding: 0px 8px 0px 4px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    color: @text;
    background: @background;
}

#bluetooth:hover {
    color: @hover;
}

#network {
    margin: 2px 0px;
    padding: 0px 12px 0px 8px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    color: @text;
    background: @background;
}

#network:hover {
    color: @hover;
}

#battery {
    margin: 2px 4px 2px 0px;
    padding: 0px 10px 0px 6px;
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    color: @text;
    background: @background;
}

#battery:hover {
    color: @hover;
}

#battery.charging,
#battery.plugged {
    color: @text;
}

@keyframes blink {
    to {
        color: @warning;
    }
}

#battery.critical:not(.charging) {
    color: @warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-wallpaper {
    margin: 2px 4px;
    margin-right: 0px;
    padding: 0px 10px 0px 8px;
    color: @text;
}

#custom-wallpaper:hover {
    color: @hover;
}

#custom-notification {
    margin: 2px 4px;
    margin-right: 0px;
    padding: 0px 10px 0px 8px;
    color: @text;
}

#custom-notification:hover {
    color: @hover;
}

#custom-power {
    margin: 2px 4px;
    margin-right: 0px;
    padding: 0px 10px 0px 8px;
    color: @text;
}

#custom-power:hover {
    color: @hover;
}