  $bg: #383c4a;
  $primary: #ffffff;
  $muted: #7c818c;
  $radius: 10px;

  * {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  #waybar {
    color: $primary;
    background: transparent;
  }

  // Left modules
  #custom-menu {
    background: $bg;
    border-radius: $radius;
    padding: 4px 14px 4px 12px;
  }

  #workspaces {
    margin: 0 8px;
    background: $bg;
    border-radius: $radius;

    button {
      color: $muted;
      padding: 4px;

      &.active {
        color: $primary;
      }

      &.persistent {
        color: $muted;
      }

      &:hover {
        transition: none;
        box-shadow: inherit;
        text-shadow: inherit;
        border-radius: inherit;

        color: $bg;
        background: $muted;
      }
    }
  }

  #language {
    padding: 4px 12px 4px 8px;
    border-radius: $radius 0 0 $radius;
    background: $bg;
  }

  #keyboard-state {
    padding: 4px 12px 4px 12px;
    border-radius: 0 $radius $radius 0;
    background: $bg;
  }

  // Center module
  #clock {
    padding: 4px 8px;
    border-radius: $radius;
    background: $bg;
  }

  // Right modules
  #pulseaudio,
  #battery,
  #memory,
  #backlight,
  #custom-power {
    padding: 4px 8px;
    border-radius: $radius;
    background: $bg;
  }

  #battery,
  #memory,
  #custom-power {
    margin: 0 8px;
  }

  #network {
    padding: 4px 8px;
    border-radius: $radius 0 0 $radius;
    background: $bg;
  }

  #custom-bitrate {
    padding: 0 8px;
    border-radius: 0 $radius $radius 0;
    background: $bg;
  }
