name: ci

on: [ push, pull_request ]

jobs:
  format:
    name: format

    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v3
        - uses: cachix/install-nix-action@v17
          with:
            install_url: https://nixos.org/nix/install
            extra_config: |
              auto-optimise-store = true
              experimental-features = nix-commands flakes
        - run: nix run nixpkgs#alejandra -- -c .
